body {
  background: pink;
}

.container {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25%, 1fr));
  margin: 0 auto;
}

div {
  border: 1px solid black;
}

.fill {
  background: dodgerblue;
}
