body {
  background: #e90d27;
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.5em;
  margin: 0;
  display: inline;
}

button {
  width: 170px;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  border: 2px solid #232323;
  box-shadow: 2px -3px 0px #232323;
  font-weight: bolder;
  color: white;
}

button:focus {
  outline: none;
}

.etchASketch {
  width: 600px;
  margin: 30px auto;
}

.container {
  margin: 20px auto;
  text-align: center;
  width: 90%;
  justify-content: space-between;
  display: flex;
}

.grid {
  height: 550px;
  width: 550px;
  display: grid;
  margin: 0 auto;
  border: 1px solid black;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.cell {
  /* border: 1px solid black; */
}

.blackFill {
  background: black;
}

#reset {
  background: #848484;
}

#color {
  background: #33b9ac;
  background: -webkit-linear-gradient(to right, #b30059, #D67501, #33b9ac);
  background: linear-gradient(to right, #b30059, #D67501, #33b9ac);
}

#black {
  background: black;
}

.knob {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  border: 2px solid rgb(199, 199, 199);
  box-shadow: 4px -3px 2px #CECECE;
}
